header.header
  .container
    .header__content
      .header__logo
      h5.header__title
        a(href="#").header__link MyBoockApp
      .header__right
        nav.header__nav
          ul.header__list
            li.header__item
              a(href="#").header__link Help Center
            li.header__item
              a(href="#").header__link Our Support
          .header__point â—

        .header__user
          img(src="images/user.png").header__photo
          .header__name John Doe

