.main

  &__content
    display: flex

  &__left
    width: 200px

  &__right
    flex-grow: 1

  &__header
    background-color: #eef1f7

  &__title
    margin: 0 20px

  &__panel
    display: flex
    justify-content: space-between
    align-items: center
    height: 50px
    margin: 0 20px

  &__wrapper
    border-top: 1px solid #dadfea
    border-bottom: 1px solid #dadfea


  &__menu
    display: flex

  &__item
    margin-right: 30px
