extends /layout/app

block content
 .main
   .container
     .main__content
        .main__left

        .main__right
          .main__header
            h1.main__title Browse Available Books
            .main__wrapper
              .main__panel
                ul.main__menu
                  li.main__item All Books
                  li.main__item Most Recent
                  li.main__item Most Popular
                  li.main__item Free Books

                .main__search
                  input(type="text").main__input
                  img(src="").main__img-serch

          .main__boocks
            .main__boock
              img(src="#").main__img
              .main__book-title
              .main__author
              .main__assessment





