extends /layout/app

block content
 .main
   .container
     .main__content
        .main__left
          .main__add-book
            a(href="#").main__button add a book
          .main__left-menu
            nav.main__left-nav
              ul.main__left-list
                li.main__left-item
                  a(href="#").main__link
                    .main__img-wrapper
                      img(src="images/reading.png").main__img
                    | Now Reading
                li.main__left-item
                  a(href="#").main__link
                    .main__img-wrapper
                      img(src="images/browse.png").main__img
                    | Browse
                li.main__left-item
                  a(href="#").main__link
                    .main__img-wrapper
                      img(src="images/books.png").main__img
                    | Buy Books
                li.main__left-item
                  a(href="#").main__link
                    .main__img-wrapper
                      img(src="images/favourite.png").main__img
                    | Favourite Books
                li.main__left-item
                  a(href="#").main__link
                    .main__img-wrapper
                      img(src="images/wishlist.png").main__img
                    | Wishlist
                li.main__left-item
                  a(href="#").main__link
                    .main__img-wrapper
                      img(src="images/history.png").main__img
                    | History
          .main__markers
            .main__text.main__text--pink Must Read Titles
            .main__text.main__text--orange Best Of List
            .main__text.main__text--blue Classic Novels
            .main__text.main__text--violet Non Fiction
          .main__history
            .main__added
              .main__data-wrapper
                .main__img-wrapper
                  img(src="images/history.png").main__img
                .main__data You added &nbsp;
                  span.main__highlight
                    | Fight Club &nbsp;
                  | by &nbsp;
                  span.main__highlight
                    | Chuck Palahniuk &nbsp;
                  | to your &nbsp;
                  span.main__highlight
                    | Must Read Titles.
              .main__time-ago 24 minutes ago

            .main__added
              .main__data-wrapper
                .main__img-wrapper
                  img(src="images/history.png").main__img
                .main__data You added &nbsp;
                  span.main__highlight
                    | Fight Club &nbsp;
                  | by &nbsp;
                  span.main__highlight
                    | Chuck Palahniuk &nbsp;
                  | to your &nbsp;
                  span.main__highlight
                    | Must Read Titles.
              .main__time-ago 24 minutes ago

        .main__right
          .main__header
            h1.main__title Browse Available Books
            .main__wrapper
              .main__panel
                ul.main__menu
                  li.main__item
                    a(href="#").main__item-link
                      | All Books
                  li.main__item
                    a(href="#").main__item-link
                      | Most Recent
                  li.main__item
                    a(href="#").main__item-link
                      | Most Popular
                  li.main__item
                    a(href="#").main__item-link
                      | Free Books
                .main__search
                  input(type="text" placeholder="Enter Keywords").main__input
                  img(src="images/search.png").main__img-search
          .main__books
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
            .main__book
              img(src="images/Jewels_of_Nizam.png").main__img
              .main__book-title Jewels of Nizam
              .main__author by Geeta Devi
              .main__assessment
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
                .main__star
                  img(src="images/star.png")
