footer.footer
  .container
    .footer__content
      .footer__data
        a(href="#").footer__link
          img(src="images/question.png").footer__img
      .footer__data
        a(href="#").footer__link
          img(src="images/settings.png").footer__img
